img {
    max-width: 100%;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

body {
    background-color: #000;
    color: #fff;
    margin-top: 20px;
}

.btn {
    background-color: #0074c2;
}